<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <!-- import the webpage's client-side javascript file -->
  </head>

  <body>
    <div class="homepage">
      <div class="homepage__container">
        <div class="homepage__split">
          <div class="homepage__left">
            <img src="https://cdn.glitch.me/ab111d34-8d60-4e43-9148-61771d0e5203%2Fsanta.svg?v=1636081410235" alt="santa" />
          </div>
          <div class="homepage__right">
            <h2 class="homepage__header">
              Ho ho ho, what you want for christmas?
            </h2>

            <form method="POST" action="/api/sendMessage">
              <div class="homepage__form">
                <label for="name" class="form__label">Name</label>
                <input
                  name="username"
                  placeholder="Enter your name"
                  class="form__input"
                />
                <label for="gifts" class="form__label">Gifts</label>
                <textarea
                  name="gifts"
                  rows="10"
                  cols="45"
                  maxlength="100"
                  placeholder="Gifts!"
                  class="form__input"
                ></textarea>
              </div>
              <button
                type="submit"
                class="custom form__button"
                id="submit-letter"
              >
                Send
              </button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <script src="/js/client.js" defer></script>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>